.gallery__header {
  background-image: url("../img/defcover\ 2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 310px;
  object-fit: contain;
}
.gallery__header h1 {
  color: white;
  padding-top: 50px;
  font-size: 48px;
  text-align: center;
}
.gallery__navigation {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 30px;
  
}
.responsive-iframe {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 600px;
}
.row {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
}
.col {
  padding: 10px;
}
.videobox1{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.mainvideo{
  width: 100%;
  height: auto;
}

.videobox {
  margin-top: 50px;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.vidbox2 {
  width: 650px;
  height: 400px;
  padding: 10px;
}

#vid {
  object-fit: contain;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .gallery__navigation p {
    margin-bottom: 10px;
  }
  .gallery__navigation h1 {
    margin-bottom: 10px;
  }
}
